// Global vars, please, Keep it simple!
$borderIncrement = #333
$foregroundIncrement = #999
$paddingMinimal = 0.1rem
$paddingBase = 0.25rem
$paddingBorderOffset = $paddingBase * 2

// Buttons
$defaultButtonBackground = #892
$defaultButtonColor = $defaultButtonBackground + $foregroundIncrement
$defaultBorderColor = $defaultButtonBackground + $borderIncrement

// Fonts
$defaultFont = 'Ubuntu', Helvetica, Arial, sans-serif
$emphasizeFont = 'Myriad Pro', Helvetica, Arial, sans-serif
$fontSizeXS = 0.5rem
$fontSizeSM = 0.75rem
$fontSizeMD = 1rem
$fontSizeLG = 1.25rem
$fontSizeXL = 1.5rem

// Header properties
$headerBackground = rgba(0,0,0,0.5)
$headerColor = $headerBackground + $foregroundIncrement
$headerHighlightColor = $headerColor + $foregroundIncrement
$headerHeight = 3rem

// Footer properties
$footerBackground = rgba(0,0,0,0.7)
$footerColor = $footerBackground + $foregroundIncrement
$footerHeight = 2rem
