@import _color
@import _mixins
@import _functions
@import 'themes/default.styl'

*
  vendor("box-sizing", border-box)
  clear both
  margin 0
  outline none
  padding 0

html, body
  wide()

body
  background $defaultBackground
  color $defaultColor
  font-family $defaultFont
  font-size $fontSizeMD
  overflow hidden

h1, h2, h3, h4, h5
  padding 0 $paddingBase

header
  wideTopBar()
  background $headerBackground
  color $headerColor
  height $headerHeight

  h1
    font-size $fontSizeLG
    font-weight normal
    line-height $headerHeight
    text-transform uppercase

    span
      color $headerHighlightColor
      font-family $emphasizeFont
      font-size $fontSizeXL
      font-style italic
      font-weight bold

footer
  wideBottomBar()
  background $footerBackground
  color $footerColor
  height $footerHeight
  line-height $footerHeight
  padding 0 $paddingBase

.fullSize
  wide()
  padding $headerHeight 0

.button
  button()

.toolButtons
  toolbar()
  height $footerHeight
  line-height $footerHeight

  .button
    float right

    #goFullScreen
      opacity 0.5
