footer
  .toolButtons
    span Project in development, thanks!
    span#goFullScreen.button
      | ☩ Full Screen


// bower dependencies
script(src="vendor/zepto/zepto.min.js")
script(src="vendor/socket.io-client/socket.io.js")
script(src="vendor/pixi.js/bin/pixi.js")
script(src="vendor/KeyboardJS/keyboard.js")

// game scripts
script(src="js/main.js")

// livereload
script(src="http://127.0.0.1:35729/livereload.js")
