footer
    h5 Project in development, thanks!

// bower dependencies
script(src="vendor/zepto/zepto.min.js")
//- script(src="vendor/socket.io/lib/client.js")
script(src="https://cdn.socket.io/socket.io-1.0.6.js")
//- script(src="vendor/phaser/phaser.min.js")
script(src="vendor/pixi.js/bin/pixi.js")
script(src="vendor/KeyboardJS/keyboard.js")

// game scripts
script(src="js/main.js")

// livereload
script(src="http://127.0.0.1:35729/livereload.js")
