footer
  .toolButtons
    .block Under Development
    a.block(href="https://github.com/TonyMtz/a-maze-ing", target="_blank") Watch on GitHub

// bower dependencies
script(src="vendor/zepto/zepto.min.js")
script(src="vendor/socket.io-client/socket.io.js")
script(src="vendor/phaser/phaser.min.js")

// game scripts
script(src="js/config.js")
script(src="js/sockets.js")
script(src="js/controls.js")
script(src="js/main.js")

// livereload
unless process.env.NODE_ENV === 'staging'
  script(src="http://127.0.0.1:35729/livereload.js")
