doctype
//if IE 8
    <html class="lt-ie9">
// [if gt IE 8] <!
html(lang="en")
  // <![endif]
  include partials/_html-header

  body
    include partials/_header
    include partials/_content
    include partials/_footer
